
body{text-align: center;
}
#header{
    width:1200px;
    position:relative;
    margin:0 auto;
}
.top-menu a {
    text-decoration: none;
    color:black;
    font-size:14px;
    font-family: 'Song Myung', serif;

}
.top-menu a:hover{
    color:cornflowerblue;
}
.top-menu{
   text-align:right;
}


.top-wrap{
    height:100px;
    position: relative;
    border-bottom:1px solid black;
}
.logo{
    display: inline-block;
   margin-left:400px;
   margin-top:10px;
    position: absolute;
    left:0;
}
.search{
    display:inline-block;
    position: absolute;
    top:20px;
    left:500px;
}
.search input{
    width:490px;
    height: 45px;
    border:2px solid cornflowerblue;
}
.search button{
    width:55px;
    height:51px;
    background:white;
    position: absolute;
    
}
.search img{
    margin-top:5px;
}
section{
  display:block;
  width: 1200px; 
  height: cover; 
  overflow-y: auto; 
  -ms-overflow-style: none;
  background:rgb(240, 236, 236);
  font-size:80%;
  margin:auto;
  border-right:1px solid black;
  border-left:1px solid black;
 
}
aside{
    float:left;
    margin-top:120px;
    color:black;
    font-family: 'Hanna', sans-serif;
    margin-right:20px;
    border-right:1px solid black;
   
}
aside div{
    font-size:20px; position: fixed;

}
aside div strong{
    color:cornflowerblue;
}
 .courselist{
     padding:2em;
     
 }
.courselist a{
    text-decoration: none;
}

.courselist button {
  background: none;
  border: 3px solid cornflowerblue;
  border-radius: 30px;
  color: cornflowerblue;
  display: block;
  font-size: 1.7em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
  font-family: 'Song Myung', serif;
  width:1000px;
}

.courselist button:hover {
 background:cornflowerblue;
  color:white;
}

  .search button:hover{
    background:cornflowerblue;
    color:white;
  }
