body{text-align: center;
}
#header{
    width:1200px;
    position:relative;
    margin:0 auto;
}
.top-menu a {
    text-decoration: none;
    color:black;
    font-size:14px;
    font-family: 'Song Myung', serif;

}
.top-menu a:hover{
    color:cornflowerblue;
}
.top-menu{
   text-align:right;
}


.top-wrap{
    height:100px;
    position: relative;
    border-bottom:1px solid black;
}

section div.welcom{
    font-family: 'Song Myung', serif;
    color:black;
    background:white;
    border-bottom:1px solid black;
}
section div.content{
    float:right;
    background:rgb(240, 236, 236);
    width:1200px;
    font-family: 'Song Myung', serif;
    border-left:1px solid black;
    font-size:25px;
    
}

section label{
    float: left;
    line-height: 50px;
    color: black;
    font-size: 23px;
    font-weight: bold;
    text-align: right;
    margin-right: 15px;
    width: 80px;
}

button{
    width:6em;
    
}
strong{
    color:cornflowerblue;
}
aside{
       width:200px;
       height:cover;
        float:left;       
        text-align: left;
        
    }
    .navilist li {
        list-style:none;
    
    }
     .highlight button{
        background:cornflowerblue;
        color:white;
    }
  