
aside {
  display:block;
  position: fixed; 
  right: 0; 
  top: 0; 
  width: 300px; 
  height: 100%; 
  overflow-y: auto; 
  -ms-overflow-style: none;
  border-left: 1px solid #070b1d;
  font-family: 'Song Myung', serif;
  background-color: white;
}
aside  div.login {
  position: fixed; 
  top: 0;
  padding: 40px 20px; 
  width: 300px; 
  box-sizing: border-box;
}
aside > div.login  a.button {
  display: block;
  margin-bottom: 5px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold; 
  text-align: center;
 
}
aside > div.login a.button.login:hover{
  color:white;
  background:cornflowerblue;
}
aside div.login a.button.board:hover{
  color:white;
  background:cornflowerblue;
}
aside > div.login a.button.login {
  color:cornflowerblue;
  background:white;
   border: 3px solid cornflowerblue;
   border-radius:20px;
  
}

aside > div.login  a.button.board {
  color:cornflowerblue;
  background:white;
  border: 3px solid cornflowerblue;
  border-radius:20px;
}

h1>strong{
  color:cornflowerblue;
}

.content{
      font-family: 'Hanna', sans-serif;
      font-size: 30px;
      margin-top:150px;
      margin-left:300px;
    
    }
