body{text-align: center;
}

.top-menu a {
    text-decoration: none;
    color:black;
    font-size:14px;
    font-family: 'Song Myung', serif;

}
.top-menu a:hover{
    color:cornflowerblue;
}
.top-menu{
   text-align:right;
}


.top-wrap{
    height:100px;
    position: relative;
    border-bottom:1px solid black;
}
section div.welcom{
    font-family: 'Song Myung', serif;
    color:black;
    background:white;
    border-bottom:1px solid black;
}
strong{
    color:cornflowerblue;
}
hr{
    color:rgb(233, 231, 231);
}
section div.content{
    float:right;
    background:rgb(240, 236, 236);
    width:1200px;
    font-family: 'Song Myung', serif;
    border-left:1px solid black;
    font-size:25px;
    
}
section div.content div.articles{
    float:right;
    background:rgb(240, 236, 236);
    width:1200px;
    font-family: 'Nanum Myeongjo', serif;

    border-left:1px solid black;
    font-size:25px;
}
section div.content div.articles article{
   
    display:block;
    box-sizing: border-box; 
    background:rgb(233, 231, 231);
    
}
section div.content div.articles article:hover{
    background:cornflowerblue;
  
}
section div.content div.articles article a{
    text-decoration: none;
}
section div.content div.articles article p.medium{
    margin-bottom: 5px;
    max-height: 300px;
    line-height: 30px;
    white-space: normal;
    overflow: hidden;
    color: #292929; 
    font-size: 24px;
    font-weight:bold;
    
}
section div.content div.articles article p.medium:hover{
    color:white;
}

section div.content div.articles article h3.medium{
    float: left;
    max-width: 90px;
    margin: 0 10px 5px 0;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    color:black;
}
section div.content div.articles article time.medium{
    float: left;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color:black;
    border-right:1px solid black;

}

section div.content div.articles article a.boardname{
    line-height: 15px;
    color: black;
    font-size: 12px;
    float:right;
}

section div.content div.articles article a.boardname:hover{
    color:white;
}

aside{
    width:200px;
    height:cover;
     float:left;       
     text-align: left;
     
 }

 .navilist li {
    list-style:none;

}
 .highlight button{
    background:cornflowerblue;
    color:white;
}
button{
    width:6em;
    background:white;
    color:cornflowerblue;
    border: 3px solid cornflowerblue;
    border-radius: 20px;
    font-family: 'Song Myung', serif;
    font-size: 25px;  
    float:right;
}
 button:hover{
    background:cornflowerblue;
    color:white;
}
